# Proyecto 6 - Analizador de Ventas

### Objetivo
Crear un programa en Python que analice un conjunto de **datos de ventas de una tienda**. El programa debe realizar varias operaciones de Data Science para proporcionar información valiosa sobre las ventas de la tienda.

### Consigna

1. **Lectura de Datos**: Crea un DataFrame que contenga los datos provistos en el archivo **Datos_Ventas_Tienda.csv**. El archivo incluirá información como *fecha de venta*, *categoría de producto*, *cantidad vendida* y *precio*.
2. **Fusión de Datos**: Crea un segundo DataFrame que contenga los datos del archivo **Datos_Ventas_Tienda2.csv**, y concaténalos para tener un solo dataFrame con toda la información.

3. **Tratamiento de Datos**: Utiliza Pandas para manipular estos datos. Deberás realizar tareas como limpieza de datos, filtrado y  transformaciones básicas.
4. **Análisis de Ventas**: Realiza análisis para responder preguntas como:
- ¿Cuál es el producto más vendido?
- ¿Cuál es el mes con más ventas?
5. **Datos Agrupados**: Agrupa los datos por categoría de producto y analiza las ventas por categoría.
6. **Guardar Resultados**: Al final, guarda el DataFrame completo (incluyendo la columna de meses) en un archivo .csv en tu ordenador.

In [1]:
import pandas as pd

In [2]:
ruta1 = r"C:\Users\Francisco\OneDrive\Documentos\Cursos\Udemy\Python\Día 7\Datos_Ventas_Tienda.csv"
df1 = pd.read_csv(ruta1)
df1.head(5)

       Fecha    Producto  Cantidad  Precio Unitario  Total Venta
0  1/17/2023  Electrónic         7              200         1400
1   9/1/2023  Electrónic         8              200         1600
2  7/29/2023    Juguetes         3               30           90
3  10/4/2023   Alimentos         4               10           40
4  2/28/2023  Electrónic         6              200         1200

In [3]:
ruta2 = r"C:\Users\Francisco\OneDrive\Documentos\Cursos\Udemy\Python\Día 7\Datos_Ventas_Tienda2.csv"
df2 = pd.read_csv(ruta2)
df2.tail(5)

        Fecha    Producto  Cantidad  Precio Unitario  Total Venta
45  9/11/2023    Juguetes        10               30          300
46   1/3/2023    Juguetes        10               30          300
47  11/7/2023   Alimentos         3               10           30
48  8/20/2023  Electrónic         6              200         1200
49  7/21/2023    Juguetes         3               30           90

In [4]:
df = pd.concat([df1, df2], ignore_index = True)
df

          Fecha    Producto  Cantidad  Precio Unitario  Total Venta
0     1/17/2023  Electrónic         7              200         1400
1      9/1/2023  Electrónic         8              200         1600
2     7/29/2023    Juguetes         3               30           90
3     10/4/2023   Alimentos         4               10           40
4     2/28/2023  Electrónic         6              200         1200
...         ...         ...       ...              ...          ...
1045  9/11/2023    Juguetes        10               30          300
1046   1/3/2023    Juguetes        10               30          300
1047  11/7/2023   Alimentos         3               10           30
1048  8/20/2023  Electrónic         6              200         1200
1049  7/21/2023    Juguetes         3               30           90

[1050 rows x 5 columns]

In [5]:
df['Fecha']

0       1/17/2023
1        9/1/2023
2       7/29/2023
3       10/4/2023
4       2/28/2023
          ...
1045    9/11/2023
1046     1/3/2023
1047    11/7/2023
1048    8/20/2023
1049    7/21/2023
Name: Fecha, Length: 1050, dtype: object

In [6]:
df['Fecha'] = pd.to_datetime(df['Fecha'])
df

          Fecha    Producto  Cantidad  Precio Unitario  Total Venta
0    2023-01-17  Electrónic         7              200         1400
1    2023-09-01  Electrónic         8              200         1600
2    2023-07-29    Juguetes         3               30           90
3    2023-10-04   Alimentos         4               10           40
4    2023-02-28  Electrónic         6              200         1200
...         ...         ...       ...              ...          ...
1045 2023-09-11    Juguetes        10               30          300
1046 2023-01-03    Juguetes        10               30          300
1047 2023-11-07   Alimentos         3               10           30
1048 2023-08-20  Electrónic         6              200         1200
1049 2023-07-21    Juguetes         3               30           90

[1050 rows x 5 columns]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050 entries, 0 to 1049
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Fecha            1050 non-null   datetime64[ns]
 1   Producto         1050 non-null   object
 2   Cantidad         1050 non-null   int64
 3   Precio Unitario  1050 non-null   int64
 4   Total Venta      1050 non-null   int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 41.1+ KB

##### Determinacion del producto mas vendido

In [8]:
producto_mas_vendido = df.groupby('Producto')['Cantidad'].sum()
producto_mas_vendido = producto_mas_vendido.sort_values(ascending = False)
producto_mas_vendido.head(1)

Producto
Alimentos    1262
Name: Cantidad, dtype: int64

##### Determinacion del mes con mas ventas

In [9]:
mes_mas_ventas = df.groupby(df['Fecha'].dt.to_period('M'))['Total Venta'].sum()
mes_mas_ventas = mes_mas_ventas.sort_values(ascending = False)
mes_mas_ventas.head(1)

Fecha
2023-08    45090
Freq: M, Name: Total Venta, dtype: int64

##### Ventas por Categoria

In [10]:
ventas_por_categoria = df.groupby('Producto')['Total Venta'].sum()
ventas_por_categoria.sort_values(ascending=False)

Producto
Electrónic    244000
Ropa           56400
Juguetes       33390
Libros         20840
Alimentos      12620
Name: Total Venta, dtype: int64

##### Guardar Resultados

In [11]:
df.to_csv(r'C:\Users\Francisco\OneDrive\Documentos\Cursos\Udemy\Python\Día 7\Cuadernos para Prácticas\Df_Proyecto_Dia_7.csv', index=False)